<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body>
    <form action="/add" method="post">
        <label for="pname">Ten san pham</label>
        <input type="text" name="pname" id="pname"><br>
        <label for="pqty">So luong</label>
        <input type="text" name="pqty" id="pqty"><br>
        <label for="pprice">Gia</label>
        <input type="text" name="pprice" id="pprice"><br>
        <input type="submit" value="add">
    </form>
</body>
</html>